@media (min-width: 320px) and (max-width: 379.98px){  
/* mob Hedaer */
.MobHeader .mobNav .logo img {
	width: 75px;
}

/* header */
.header .nav {
	display: none !important;
}
.header .banner {
	height: 60vh;
}
.header .banner .bannerText h2 {
	font-size: 18px;
}
.header .banner .bannerText h3 {
	font-size: 30px;
    line-height: 40px;
	padding: 10px 0;
}
.header .banner .bannerText p {
	font-size: 13px;
}
.header .banner .bannerText .homeBtn {
	padding-top: 20px;
}.header .banner .bannerText .homeBtn {
	padding-top: 20px;
}
.header .banner .bannerText .homeBtn a {
	padding: 12px 22px;
	background-image: linear-gradient(250deg, #4e95ed 0%, #03228f 100%);
	color: #fff;
	font-weight: 600;
	font-size: 14px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
.header .banner .banText {
	height: 80vh;
}
.header {
        height: 60vh;
}
/* Nav Offcan */
.offcanvas-end {
	width: 230px;
}
/* client slider */
.header .client .clientMain .sliderT .slidItem img {
	width: 50px;
}
.header .client .clientMain .sliderT .slidItem {
	width: 20% !important;
}

.header .client .clientMain .sliderT {
	width: 320px;
	padding: 20px 20px 20px 17px;
}
.header .client .clientMain {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform:translateX(-50%) ;
    -webkit-transform:translateX(-50%) ;
    -moz-transform:translateX(-50%) ;
    -ms-transform:translateX(-50%) ;
    -o-transform:translateX(-50%) ;
}

/* About */
.about {
	padding: 20px 0 80px 0;
}
.about .about_wrapper .about_left img {
	width: 100%;
	animation: updown3 5s infinite linear;
}
.about .about_wrapper .about_right .headingOfSection {
	margin-bottom: 25px;
	margin-top: 40px;
}
.about .about_wrapper .about_right h4 {
	font-size: 17px;
	line-height: 29px;
}
.about .about_wrapper .about_right p {
	font-size: 13px;
	line-height: 26px;
	padding: 0px 0 30px 0;
}
.about .about_wrapper .about_right .about_btn a {
	padding: 13px 23px;
	background-image: linear-gradient(250deg, #4e95ed 0%, #03228f 100%);
	font-size: 15px;
	color: #fff;
	font-weight: 500;
	border-radius: 4px;
}
.about .about_wrapper .design_2 {
    	display: none;
}
.Stack .headingOfSection {
	margin-bottom: 20px;
}
/* Stack */
.Stack .sectionHeader h4 {
	font-size: 24px;
	padding: 3px 0;
}

.Stack .feature_wrapper {
	padding-top: 40px;
}
.Stack {
	padding: 0px 0 60px 0;
}

.Stack .stack_wrapper {
	margin-top: 60px;
}
.Stack .stack_wrapper .stack_wrap .item {
	padding-top: 50px;
}
/* client */


.footer .footer_wrapper h3 {
	font-size: 22px;
	padding: 10px 0;
}

.footer .footer_wrapper p {
	font-size: 14px;
	padding-right: 0px;
	text-align: justify;
}
.footer .footer_wrapper h3 {
	font-size: 20px;
	padding: 3px 0;
}
.footer .footer_wrapper h4 {
	font-size: 13px;
	line-height: 20px;
}
/* contact */
.contact .contact_wrapper .contect_info {
	padding: 25px 10px;
}
.contact {
	padding-bottom: 60px;
}
/* Service  */
.service {
	margin-top: 30px;
}
/* contact */
.subPage_contact .contact_wrapper .contect_info {
	padding: 0px 10px;
}
.subPage_contact .contact_wrapper .contect_info h4 {
	font-size: 26px;
}
.subPage_contact .contact_wrapper .contect_info p {
    font-size: 15px;
	padding: 20px 0px;
}
.form_wrapper {
	padding-top: 45px;
}
.subPage_contact {
	padding-top: 20px;
}
.subPage_contact .contact_wrapper .contect_info p {
	font-size: 15px;
	padding: 0px 0px;
}
.subPage_contact .contact_wrapper .contect_info .icons_linker ul li {
	padding: 0 6px;
}
.subPage_contact .contact_wrapper .contect_info .icons_linker {
	padding-top: 60px;
}
/* ser4vice detail */
.serviceDetail {
	padding: 105px 0 70px 0;
}
}
@media (min-width: 380px) and (max-width: 479.98px){  
    /* mob Hedaer */
    .MobHeader .mobNav .logo img {
        width: 75px;
    }
    
    /* header */
    .header .nav {
        display: none !important;
    }
    .header .banner {
        height: 60vh;
    }
    .header .banner .bannerText h2 {
        font-size: 18px;
    }
    .header .banner .bannerText h3 {
        font-size: 30px;
        line-height: 40px;
        padding: 10px 0;
    }
    .header .banner .bannerText p {
        font-size: 13px;
    }
    .header .banner .bannerText .homeBtn {
        padding-top: 20px;
    }.header .banner .bannerText .homeBtn {
        padding-top: 20px;
    }
    .header .banner .bannerText .homeBtn a {
        padding: 12px 22px;
        background-image: linear-gradient(250deg, #4e95ed 0%, #03228f 100%);
        color: #fff;
        font-weight: 600;
        font-size: 14px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    .header .banner .banText {
        height: 80vh;
    }
    .header {
            height: 60vh;
    }
    /* Nav Offcan */
    .offcanvas-end {
        width: 230px;
    }
    /* client slider */
    .header .client .clientMain .sliderT .slidItem img {
        width: 50px;
    }
    .header .client .clientMain .sliderT .slidItem {
        width: 20% !important;
    }
    
    .header .client .clientMain .sliderT {
        width: 320px;
        padding: 20px 20px 20px 17px;
    }
    .header .client .clientMain {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform:translateX(-50%) ;
        -webkit-transform:translateX(-50%) ;
        -moz-transform:translateX(-50%) ;
        -ms-transform:translateX(-50%) ;
        -o-transform:translateX(-50%) ;
    }
    
    /* About */
    .about {
        padding: 20px 0 80px 0;
    }
    .about .about_wrapper .about_left img {
        width: 100%;
        animation: updown3 5s infinite linear;
    }
    .about .about_wrapper .about_right .headingOfSection {
        margin-bottom: 25px;
        margin-top: 40px;
    }
    .about .about_wrapper .about_right h4 {
        font-size: 17px;
        line-height: 29px;
    }
    .about .about_wrapper .about_right p {
        font-size: 13px;
        line-height: 26px;
        padding: 0px 0 30px 0;
    }
    .about .about_wrapper .about_right .about_btn a {
        padding: 13px 23px;
        background-image: linear-gradient(250deg, #4e95ed 0%, #03228f 100%);
        font-size: 15px;
        color: #fff;
        font-weight: 500;
        border-radius: 4px;
    }
    .about .about_wrapper .design_2 {
            display: none;
    }
    .Stack .headingOfSection {
        margin-bottom: 20px;
    }
    /* Stack */
    .Stack .sectionHeader h4 {
        font-size: 24px;
        padding: 3px 0;
    }
    
    .Stack .feature_wrapper {
        padding-top: 40px;
    }
    .Stack {
        padding: 0px 0 60px 0;
    }
    
    .Stack .stack_wrapper {
        margin-top: 60px;
    }
    .Stack .stack_wrapper .stack_wrap .item {
        padding-top: 50px;
    }
    /* client */
    
    
    .footer .footer_wrapper h3 {
        font-size: 22px;
        padding: 10px 0;
    }
    
    .footer .footer_wrapper p {
        font-size: 14px;
        padding-right: 0px;
        text-align: justify;
    }
    .footer .footer_wrapper h3 {
        font-size: 20px;
        padding: 3px 0;
    }
    .footer .footer_wrapper h4 {
        font-size: 13px;
        line-height: 20px;
    }
    /* contact */
    .contact .contact_wrapper .contect_info {
        padding: 25px 10px;
    }
    .contact {
        padding-bottom: 60px;
    }
    /* Service  */
    .service {
        margin-top: 30px;
    }
    /* contact */
    .subPage_contact .contact_wrapper .contect_info {
        padding: 0px 10px;
    }
    .subPage_contact .contact_wrapper .contect_info h4 {
        font-size: 26px;
    }
    .subPage_contact .contact_wrapper .contect_info p {
        font-size: 15px;
        padding: 20px 0px;
    }
    .form_wrapper {
        padding-top: 45px;
    }
    .subPage_contact {
        padding-top: 20px;
    }
    .subPage_contact .contact_wrapper .contect_info p {
        font-size: 15px;
        padding: 0px 0px;
    }
    .subPage_contact .contact_wrapper .contect_info .icons_linker ul li {
        padding: 0 6px;
    }
    .subPage_contact .contact_wrapper .contect_info .icons_linker {
        padding-top: 60px;
    }
    /* ser4vice detail */
    .serviceDetail {
        padding: 105px 0 70px 0;
    }
    }
@media (min-width: 480px) and (max-width: 575.98px){  
        /* mob Hedaer */
        .MobHeader .mobNav .logo img {
            width: 75px;
        }
        
        /* header */
        .header .nav {
            display: none !important;
        }
        .header .banner {
            height: 60vh;
        }
        .header .banner .bannerText h2 {
            font-size: 24px;
        }
        .header .banner .bannerText h3 {
            font-size: 40px;
            line-height: 50px;
            padding: 10px 0;
        }
        .header .banner .bannerText p {
            font-size: 14px;
        }
        .header .banner .bannerText .homeBtn {
            padding-top: 20px;
        }.header .banner .bannerText .homeBtn {
            padding-top: 20px;
        }
        .header .banner .bannerText .homeBtn a {
            padding: 14px 22px;
            background-image: linear-gradient(250deg, #4e95ed 0%, #03228f 100%);
            color: #fff;
            font-weight: 600;
            font-size: 16px;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
        }
        .header .banner .banText {
            height: 80vh;
        }
        .header {
                height: 60vh;
        }
        /* Nav Offcan */
        .offcanvas-end {
            width: 230px;
        }
        /* client slider */
        .header .client .clientMain .sliderT .slidItem img {
            width: 50px;
        }
        .header .client .clientMain .sliderT .slidItem {
            width: 20% !important;
        }
        
        .header .client .clientMain .sliderT {
            width: 320px;
            padding: 20px 20px 20px 17px;
        }
        .header .client .clientMain {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform:translateX(-50%) ;
            -webkit-transform:translateX(-50%) ;
            -moz-transform:translateX(-50%) ;
            -ms-transform:translateX(-50%) ;
            -o-transform:translateX(-50%) ;
        }
        
        /* About */
        .about {
            padding: 20px 0 80px 0;
        }
        .about .about_wrapper .about_left img {
            width: 100%;
            animation: updown3 5s infinite linear;
        }
        .about .about_wrapper .about_right .headingOfSection {
            margin-bottom: 25px;
            margin-top: 40px;
        }
        .about .about_wrapper .about_right h4 {
            font-size: 18px;
            line-height: 29px;
        }
        .about .about_wrapper .about_right p {
            font-size: 14px;
            line-height: 26px;
            padding: 0px 0 30px 0;
        }
        .about .about_wrapper .about_right .about_btn a {
            padding: 13px 23px;
            background-image: linear-gradient(250deg, #4e95ed 0%, #03228f 100%);
            font-size: 15px;
            color: #fff;
            font-weight: 500;
            border-radius: 4px;
        }
        .about .about_wrapper .design_2 {
                display: none;
        }
        .Stack .headingOfSection {
            margin-bottom: 20px;
        }
        /* Stack */
        .Stack .sectionHeader h4 {
            font-size: 24px;
            padding: 3px 0;
        }
        
        .Stack .feature_wrapper {
            padding-top: 40px;
        }
        .Stack {
            padding: 0px 0 60px 0;
        }
        
        .Stack .stack_wrapper {
            margin-top: 60px;
        }
        .Stack .stack_wrapper .stack_wrap .item {
            padding-top: 50px;
        }
        /* client */
        
        
        .footer .footer_wrapper h3 {
            font-size: 22px;
            padding: 10px 0;
        }
        
        .footer .footer_wrapper p {
            font-size: 14px;
            padding-right: 0px;
            text-align: justify;
        }
        .footer .footer_wrapper h3 {
            font-size: 20px;
            padding: 3px 0;
        }
        .footer .footer_wrapper h4 {
            font-size: 13px;
            line-height: 20px;
        }
        /* contact */
        .contact .contact_wrapper .contect_info {
            padding: 35px 10px;
        }
        .contact {
            padding-bottom: 60px;
        }
        /* Service  */
        .service {
            margin-top: 40px;
        }
        /* contact */
        .subPage_contact .contact_wrapper .contect_info {
            padding: 0px 10px;
        }
        .subPage_contact .contact_wrapper .contect_info h4 {
            font-size: 26px;
        }
        .subPage_contact .contact_wrapper .contect_info p {
            font-size: 15px;
            padding: 20px 0px;
        }
        .form_wrapper {
            padding-top: 45px;
        }
        .subPage_contact {
            padding-top: 20px;
        }
        .subPage_contact .contact_wrapper .contect_info p {
            font-size: 15px;
            padding: 0px 0px;
        }
        .subPage_contact .contact_wrapper .contect_info .icons_linker ul li {
            padding: 0 6px;
        }
        .subPage_contact .contact_wrapper .contect_info .icons_linker {
            padding-top: 60px;
        }
        /* ser4vice detail */
        .serviceDetail {
            padding: 105px 0 70px 0;
        }
} 
@media (min-width: 576px) and (max-width: 767.98px){  
    /* mob Hedaer */
    .MobHeader .mobNav .logo img {
        width: 75px;
    }
    
    /* header */
    .header .nav {
        display: none !important;
    }
    .header .banner {
        height: 60vh;
    }
    .header .banner .bannerText h2 {
        font-size: 24px;
    }
    .header .banner .bannerText h3 {
        font-size: 40px;
        line-height: 50px;
        padding: 10px 0;
    }
    .header .banner .bannerText p {
        font-size: 14px;
    }
    .header .banner .bannerText .homeBtn {
        padding-top: 20px;
    }.header .banner .bannerText .homeBtn {
        padding-top: 20px;
    }
    .header .banner .bannerText .homeBtn a {
        padding: 14px 22px;
        background-image: linear-gradient(250deg, #4e95ed 0%, #03228f 100%);
        color: #fff;
        font-weight: 600;
        font-size: 16px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    .header .banner .banText {
        height: 80vh;
    }
    .header {
            height: 60vh;
    }
    /* Nav Offcan */
    .offcanvas-end {
        width: 230px;
    }
    /* client slider */
    .header .client .clientMain .sliderT .slidItem img {
        width: 50px;
    }
    .header .client .clientMain .sliderT .slidItem {
        width: 20% !important;
    }
    .header .client .clientMain .sliderT {
        width: 380px;
        padding: 20px 20px 20px 17px;
    }
    .header .client .clientMain {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform:translateX(-50%) ;
        -webkit-transform:translateX(-50%) ;
        -moz-transform:translateX(-50%) ;
        -ms-transform:translateX(-50%) ;
        -o-transform:translateX(-50%) ;
    }
    
    /* About */
    .about {
        padding: 20px 0 80px 0;
    }
    .about .about_wrapper .about_left img {
        width: 100%;
        animation: updown3 5s infinite linear;
    }
    .about .about_wrapper .about_right .headingOfSection {
        margin-bottom: 25px;
        margin-top: 40px;
    }
    .about .about_wrapper .about_right h4 {
        font-size: 18px;
        line-height: 29px;
    }
    .about .about_wrapper .about_right p {
        font-size: 14px;
        line-height: 26px;
        padding: 0px 0 30px 0;
    }
    .about .about_wrapper .about_right .about_btn a {
        padding: 13px 23px;
        background-image: linear-gradient(250deg, #4e95ed 0%, #03228f 100%);
        font-size: 15px;
        color: #fff;
        font-weight: 500;
        border-radius: 4px;
    }
    .about .about_wrapper .design_2 {
            display: none;
    }
    .Stack .headingOfSection {
        margin-bottom: 20px;
    }
    /* Stack */
    .Stack .sectionHeader h4 {
        font-size: 24px;
        padding: 3px 0;
    }
    
    .Stack .feature_wrapper {
        padding-top: 40px;
    }
    .Stack {
        padding: 0px 0 60px 0;
    }
    
    .Stack .stack_wrapper {
        margin-top: 60px;
    }
    .Stack .stack_wrapper .stack_wrap .item {
        padding-top: 50px;
    }
    /* client */
    
    
    .footer .footer_wrapper h3 {
        font-size: 22px;
        padding: 10px 0;
    }
    
    .footer .footer_wrapper p {
        font-size: 14px;
        padding-right: 0px;
        text-align: justify;
    }
    .footer .footer_wrapper h3 {
        font-size: 20px;
        padding: 3px 0;
    }
    .footer .footer_wrapper h4 {
        font-size: 13px;
        line-height: 20px;
    }
    /* contact */
    .contact .contact_wrapper .contect_info {
        padding: 35px 10px;
    }
    .contact {
        padding-bottom: 60px;
    }
    /* Service  */
    .service {
        margin-top: 40px;
    }
    /* contact */
    .subPage_contact .contact_wrapper .contect_info {
        padding: 0px 10px;
    }
    .subPage_contact .contact_wrapper .contect_info h4 {
        font-size: 26px;
    }
    .subPage_contact .contact_wrapper .contect_info p {
        font-size: 15px;
        padding: 20px 0px;
    }
    .form_wrapper {
        padding-top: 45px;
    }
    .subPage_contact {
        padding-top: 20px;
    }
    .subPage_contact .contact_wrapper .contect_info p {
        font-size: 15px;
        padding: 0px 0px;
    }
    .subPage_contact .contact_wrapper .contect_info .icons_linker ul li {
        padding: 0 6px;
    }
    .subPage_contact .contact_wrapper .contect_info .icons_linker {
        padding-top: 60px;
    }
    /* ser4vice detail */
    .serviceDetail {
        padding: 105px 0 70px 0;
    }
}     
@media (min-width: 768px) and (max-width: 991.98px){  
    /* mob Hedaer */
    .MobHeader .mobNav .logo img {
        width: 75px;
    }
    
    /* header */
    .header .nav {
        display: none !important;
    }
    .header .banner {
        height: 75vh;
    }
    .header .banner .bannerText h2 {
        font-size: 24px;
    }
    .header .banner .bannerText h3 {
        font-size: 40px;
        line-height: 50px;
        padding: 10px 0;
    }
    .header .banner .bannerText p {
        font-size: 14px;
    }
    .header .banner .bannerText .homeBtn {
        padding-top: 20px;
    }.header .banner .bannerText .homeBtn {
        padding-top: 20px;
    }
    .header .banner .bannerText .homeBtn a {
        padding: 14px 22px;
        background-image: linear-gradient(250deg, #4e95ed 0%, #03228f 100%);
        color: #fff;
        font-weight: 600;
        font-size: 16px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    .header .banner .banText {
        height: 100vh;
    }
    .header {
            height: 75vh;
    }
    /* Nav Offcan */
    .offcanvas-end {
        width: 230px;
    }
    /* client slider */
    .header .client .clientMain .sliderT .slidItem img {
        width: 50px;
    }
    .header .client .clientMain .sliderT .slidItem {
        width: 20% !important;
    }
    .header .client .clientMain .sliderT {
        width: 530px;
        padding: 20px 20px 20px 17px;
    }
    .header .client .clientMain {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform:translateX(-50%) ;
        -webkit-transform:translateX(-50%) ;
        -moz-transform:translateX(-50%) ;
        -ms-transform:translateX(-50%) ;
        -o-transform:translateX(-50%) ;
    }
    
    /* About */
    .about {
        padding: 20px 0 80px 0;
    }
    .about .about_wrapper .about_left img {
        width: 100%;
        animation: updown3 5s infinite linear;
    }
    .about .about_wrapper .about_right .headingOfSection {
        margin-bottom: 25px;
        margin-top: 40px;
    }
    .about .about_wrapper .about_right h4 {
        font-size: 18px;
        line-height: 29px;
    }
    .about .about_wrapper .about_right p {
        font-size: 14px;
        line-height: 26px;
        padding: 0px 0 30px 0;
    }
    .about .about_wrapper .about_right .about_btn a {
        padding: 13px 23px;
        background-image: linear-gradient(250deg, #4e95ed 0%, #03228f 100%);
        font-size: 15px;
        color: #fff;
        font-weight: 500;
        border-radius: 4px;
    }
    .about .about_wrapper .design_2 {
            display: none;
    }
    .Stack .headingOfSection {
        margin-bottom: 20px;
    }
    /* Stack */
    .Stack .sectionHeader h4 {
        font-size: 24px;
        padding: 3px 0;
    }
    
    .Stack .feature_wrapper {
        padding-top: 40px;
    }
    .Stack {
        padding: 0px 0 60px 0;
    }
    
    .Stack .stack_wrapper {
        margin-top: 60px;
    }
    .Stack .stack_wrapper .stack_wrap .item {
        padding-top: 50px;
    }
    /* client */
    
    
    .footer .footer_wrapper h3 {
        font-size: 22px;
        padding: 10px 0;
    }
    
    .footer .footer_wrapper p {
        font-size: 14px;
        padding-right: 0px;
        text-align: justify;
    }
    .footer .footer_wrapper h3 {
        font-size: 20px;
        padding: 3px 0;
    }
    .footer .footer_wrapper h4 {
        font-size: 13px;
        line-height: 20px;
    }
    /* contact */
    .contact .contact_wrapper .contect_info {
        padding: 35px 10px;
    }
    .contact {
        padding-bottom: 60px;
    }
    /* Service  */
    .service {
        margin-top: 40px;
    }
    /* contact */
    .subPage_contact .contact_wrapper .contect_info {
        padding: 0px 10px;
    }
    .subPage_contact .contact_wrapper .contect_info h4 {
        font-size: 26px;
    }
    .subPage_contact .contact_wrapper .contect_info p {
        font-size: 15px;
        padding: 20px 0px;
    }
    .form_wrapper {
        padding-top: 45px;
    }
    .subPage_contact {
        padding-top: 20px;
    }
    .subPage_contact .contact_wrapper .contect_info p {
        font-size: 15px;
        padding: 0px 0px;
    }
    .subPage_contact .contact_wrapper .contect_info .icons_linker ul li {
        padding: 0 6px;
    }
    .subPage_contact .contact_wrapper .contect_info .icons_linker {
        padding-top: 60px;
    }
    /* ser4vice detail */
    .serviceDetail {
        padding: 105px 0 70px 0;
    }
}    
@media (min-width: 992px) and (max-width: 1199.98px){  
    /* mob Hedaer */
    .MobHeader .mobNav .logo img {
        width: 100px;
    }
    
    /* header */
    .header .banner {
        height: 100vh;
    }
    .header .banner .bannerText h2 {
        font-size: 24px;
    }
    .header .banner .bannerText h3 {
        font-size: 40px;
        line-height: 53px;
        padding: 10px 0;
    }
    .header .banner .bannerText p {
        font-size: 14px;
    }
    .header .banner .bannerText .homeBtn {
        padding-top: 20px;
    }.header .banner .bannerText .homeBtn {
        padding-top: 20px;
    }
    .header .banner .bannerText .homeBtn a {
        padding: 14px 22px;
        background-image: linear-gradient(250deg, #4e95ed 0%, #03228f 100%);
        color: #fff;
        font-weight: 600;
        font-size: 16px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    .header .banner .banText {
        height: 100vh;
    }
    .header {
            height: 100vh;
    }
    /* Nav Offcan */
    .offcanvas-end {
        width: 230px;
    }
    /* client slider */
    .header .client .clientMain .sliderT .slidItem img {
        width: 50px;
    }
    .header .client .clientMain .sliderT .slidItem {
        width: 20% !important;
    }
    .header .client .clientMain .sliderT {
        width: 850px;
        padding: 20px 20px 20px 17px;
    }    .header .client .clientMain {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform:translateX(-50%) ;
        -webkit-transform:translateX(-50%) ;
        -moz-transform:translateX(-50%) ;
        -ms-transform:translateX(-50%) ;
        -o-transform:translateX(-50%) ;
    }
    .header .client .clientMain .sliderT .slidItem img {
        width: 70px;
    }
    /* About */
    .about {
        padding: 20px 0 80px 0;
    }
    .about .about_wrapper .about_left img {
        width: 100%;
        animation: updown3 5s infinite linear;
    }
    .about .about_wrapper .about_right .headingOfSection {
        margin-bottom: 25px;
        margin-top: 40px;
    }
    .about .about_wrapper .about_right h4 {
        font-size: 18px;
        line-height: 29px;
    }
    .about .about_wrapper .about_right p {
        font-size: 14px;
        line-height: 26px;
        padding: 0px 0 30px 0;
    }
    .about .about_wrapper .about_right .about_btn a {
        padding: 13px 23px;
        background-image: linear-gradient(250deg, #4e95ed 0%, #03228f 100%);
        font-size: 15px;
        color: #fff;
        font-weight: 500;
        border-radius: 4px;
    }
    .about .about_wrapper .design_2 {
            display: none;
    }
    .Stack .headingOfSection {
        margin-bottom: 20px;
    }
    /* Stack */
    .Stack .sectionHeader h4 {
        font-size: 24px;
        padding: 3px 0;
    }
    
    .Stack .feature_wrapper {
        padding-top: 40px;
    }
    .Stack {
        padding: 0px 0 60px 0;
    }
    
    .Stack .stack_wrapper {
        margin-top: 60px;
    }
    .Stack .stack_wrapper .stack_wrap .item {
        padding-top: 50px;
    }
    /* client */
    
    
    .footer .footer_wrapper h3 {
        font-size: 22px;
        padding: 10px 0;
    }
    
    .footer .footer_wrapper p {
        font-size: 14px;
        padding-right: 0px;
        text-align: justify;
    }
    .footer .footer_wrapper h3 {
        font-size: 20px;
        padding: 3px 0;
    }
    .footer .footer_wrapper h4 {
        font-size: 13px;
        line-height: 20px;
    }
    /* contact */
    .contact .contact_wrapper .contect_info {
        padding: 38px 10px;
    }
    .contact {
        padding-bottom: 60px;
    }
    /* Service  */
    .service {
        margin-top: 40px;
    }
    /* contact */
    .subPage_contact .contact_wrapper .contect_info {
        padding: 0px 10px;
    }
    .subPage_contact .contact_wrapper .contect_info h4 {
        font-size: 26px;
    }
    .subPage_contact .contact_wrapper .contect_info p {
        font-size: 15px;
        padding: 20px 0px;
    }
    .form_wrapper {
        padding-top: 45px;
    }
    .subPage_contact {
        padding-top: 20px;
    }
    .subPage_contact .contact_wrapper .contect_info p {
        font-size: 15px;
        padding: 0px 0px;
    }
    .subPage_contact .contact_wrapper .contect_info .icons_linker ul li {
        padding: 0 6px;
    }
    .subPage_contact .contact_wrapper .contect_info .icons_linker {
        padding-top: 60px;
    }
    /* ser4vice detail */
    .serviceDetail {
        padding: 105px 0 70px 0;
    }
}   
@media (min-width: 1200px) and (max-width: 1399.98px){  
    /* mob Hedaer */
    .MobHeader .mobNav .logo img {
        width: 100px;
    }
    
    /* header */
    .header .banner {
        height: 100vh;
    }

    .header .banner .bannerText h3 {
        font-size: 42px;
        line-height: 53px;
        padding: 10px 0;
    }
    .header .banner .bannerText p {
        font-size: 15px;
    }
    .header .banner .bannerText .homeBtn {
        padding-top: 20px;
    }.header .banner .bannerText .homeBtn {
        padding-top: 20px;
    }
    .header .banner .bannerText .homeBtn a {
        padding: 14px 22px;
        background-image: linear-gradient(250deg, #4e95ed 0%, #03228f 100%);
        color: #fff;
        font-weight: 600;
        font-size: 16px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    .header .banner .banText {
        height: 100vh;
    }
    .header {
            height: 100vh;
    }
    /* Nav Offcan */
    .offcanvas-end {
        width: 230px;
    }
    /* client slider */
    .header .client .clientMain .sliderT .slidItem {
        width: 20% !important;
    }
    .header .client .clientMain .sliderT {
        width: 950px;
        padding: 16px 20px 13px 17px;
    }
    .header .client .clientMain {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform:translateX(-50%) ;
        -webkit-transform:translateX(-50%) ;
        -moz-transform:translateX(-50%) ;
        -ms-transform:translateX(-50%) ;
        -o-transform:translateX(-50%) ;
    }
    .header .client .clientMain .sliderT .slidItem img {
        width: 80px;
    }
    /* About */
    .about {
        padding: 20px 0 80px 0;
    }
    .about .about_wrapper .about_right .headingOfSection {
        margin-bottom: 25px;
        margin-top: 40px;
    }
    .about .about_wrapper .about_right h4 {
        font-size: 18px;
        line-height: 29px;
    }
    .about .about_wrapper .about_right p {
        font-size: 14px;
        line-height: 26px;
        padding: 0px 0 30px 0;
    }
    .about .about_wrapper .about_right .about_btn a {
        padding: 13px 23px;
        background-image: linear-gradient(250deg, #4e95ed 0%, #03228f 100%);
        font-size: 15px;
        color: #fff;
        font-weight: 500;
        border-radius: 4px;
    }
    .about .about_wrapper .design_2 {
            display: none;
    }
    .Stack .headingOfSection {
        margin-bottom: 20px;
    }
    /* Stack */
    .Stack .sectionHeader h4 {
        font-size: 24px;
        padding: 3px 0;
    }
    
    .Stack .feature_wrapper {
        padding-top: 40px;
    }
    .Stack {
        padding: 0px 0 60px 0;
    }
    
    .Stack .stack_wrapper {
        margin-top: 60px;
    }
    .Stack .stack_wrapper .stack_wrap .item {
        padding-top: 50px;
    }
    /* client */
    
    
    .footer .footer_wrapper h3 {
        font-size: 22px;
        padding: 10px 0;
    }
    
    .footer .footer_wrapper p {
        font-size: 14px;
        padding-right: 0px;
        text-align: justify;
    }
    .footer .footer_wrapper h3 {
        font-size: 20px;
        padding: 3px 0;
    }
    .footer .footer_wrapper h4 {
        font-size: 13px;
        line-height: 20px;
    }
    /* contact */
    .contact .contact_wrapper .contect_info {
        padding: 38px 10px;
    }
    .contact {
        padding-bottom: 90px;
        margin-top: 10px;
    }
    /* Service  */
    .service {
        margin-top: 40px;
    }
    /* contact */
    .subPage_contact .contact_wrapper .contect_info {
        padding: 0px 10px;
    }
    .subPage_contact .contact_wrapper .contect_info h4 {
        font-size: 26px;
    }
    .subPage_contact .contact_wrapper .contect_info p {
        font-size: 15px;
        padding: 20px 0px;
    }
    .form_wrapper {
        padding-top: 45px;
    }
    .subPage_contact {
        padding-top: 20px;
    }
    .subPage_contact .contact_wrapper .contect_info p {
        font-size: 15px;
        padding: 0px 0px;
    }
    .subPage_contact .contact_wrapper .contect_info .icons_linker ul li {
        padding: 0 6px;
    }
    .subPage_contact .contact_wrapper .contect_info .icons_linker {
        padding-top: 60px;
    }
    /* ser4vice detail */
    .serviceDetail {
        padding: 105px 0 70px 0;
    }
}   
@media (min-width: 1400px) and (max-width: 1499.98px){  
    /* mob Hedaer */
    .MobHeader .mobNav .logo img {
        width: 100px;
    }
    
    /* header */
    .header .banner {
        height: 100vh;
    }

    .header .banner .bannerText h3 {
        font-size: 44px;
        line-height: 60px;
        padding: 10px 0;
    }
    .header .banner .bannerText p {
        font-size: 15px;
    }
    .header .banner .bannerText .homeBtn {
        padding-top: 20px;
    }.header .banner .bannerText .homeBtn {
        padding-top: 20px;
    }
    .header .banner .bannerText .homeBtn a {
        padding: 15px 28px;
        background-image: linear-gradient(250deg, #4e95ed 0%, #03228f 100%);
        color: #fff;
        font-weight: 600;
        font-size: 17px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    .header .banner .banText {
        height: 100vh;
    }
    .header {
            height: 100vh;
    }
    /* Nav Offcan */
    .offcanvas-end {
        width: 230px;
    }
    /* client slider */
    .header .client .clientMain .sliderT .slidItem {
        width: 20% !important;
    }
    .header .client .clientMain .sliderT {
        width: 1000px;
        padding: 17px 20px 14px 17px;
    }
    .header .client .clientMain {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform:translateX(-50%) ;
        -webkit-transform:translateX(-50%) ;
        -moz-transform:translateX(-50%) ;
        -ms-transform:translateX(-50%) ;
        -o-transform:translateX(-50%) ;
    }
    .header .client .clientMain .sliderT .slidItem img {
        width: 90px;
    }
    /* About */
    .about {
        padding: 20px 0 80px 0;
    }
    .about .about_wrapper .about_right .headingOfSection {
        margin-bottom: 25px;
        margin-top: 40px;
    }
    .about .about_wrapper .about_right h4 {
        font-size: 18px;
        line-height: 29px;
    }
    .about .about_wrapper .about_right p {
        font-size: 14px;
        line-height: 26px;
        padding: 0px 0 30px 0;
    }
    .about .about_wrapper .about_right .about_btn a {
        padding: 13px 23px;
        background-image: linear-gradient(250deg, #4e95ed 0%, #03228f 100%);
        font-size: 15px;
        color: #fff;
        font-weight: 500;
        border-radius: 4px;
    }
    .about .about_wrapper .design_2 {
            display: none;
    }
    .Stack .headingOfSection {
        margin-bottom: 20px;
    }
    /* Stack */
    .Stack .sectionHeader h4 {
        font-size: 24px;
        padding: 3px 0;
    }
    
    .Stack .feature_wrapper {
        padding-top: 40px;
    }
    .Stack {
        padding: 0px 0 60px 0;
    }
    
    .Stack .stack_wrapper {
        margin-top: 60px;
    }
    .Stack .stack_wrapper .stack_wrap .item {
        padding-top: 50px;
    }
    /* client */
    
    
    .footer .footer_wrapper h3 {
        font-size: 22px;
        padding: 10px 0;
    }
    
    .footer .footer_wrapper p {
        font-size: 14px;
        padding-right: 0px;
        text-align: justify;
    }
    .footer .footer_wrapper h3 {
        font-size: 20px;
        padding: 3px 0;
    }
    .footer .footer_wrapper h4 {
        font-size: 13px;
        line-height: 20px;
    }
    /* contact */
    .contact .contact_wrapper .contect_info {
        padding: 51px 20px;
    }
    .contact {
        padding-bottom: 90px;
        margin-top: 10px;
    }
    /* Service  */
    .service {
        margin-top: 40px;
    }
    /* contact */
    .subPage_contact .contact_wrapper .contect_info {
        padding: 0px 10px;
    }
    .subPage_contact .contact_wrapper .contect_info h4 {
        font-size: 26px;
    }
    .subPage_contact .contact_wrapper .contect_info p {
        font-size: 15px;
        padding: 20px 0px;
    }
    .form_wrapper {
        padding-top: 45px;
    }
    .subPage_contact {
        padding-top: 20px;
    }
    .subPage_contact .contact_wrapper .contect_info p {
        font-size: 15px;
        padding: 0px 0px;
    }
    .subPage_contact .contact_wrapper .contect_info .icons_linker ul li {
        padding: 0 6px;
    }
    .subPage_contact .contact_wrapper .contect_info .icons_linker {
        padding-top: 60px;
    }
    /* ser4vice detail */
    .serviceDetail {
        padding: 105px 0 70px 0;
    }
}
@media (min-width: 1500px) and (max-width: 1599.98px){  
    /* mob Hedaer */
    .MobHeader .mobNav .logo img {
        width: 100px;
    }
    
    /* header */
    .header .banner {
        height: 100vh;
    }

    .header .banner .bannerText h3 {
        font-size: 44px;
        line-height: 60px;
        padding: 10px 0;
    }
    .header .banner .bannerText p {
        font-size: 15px;
    }
    .header .banner .bannerText .homeBtn {
        padding-top: 20px;
    }.header .banner .bannerText .homeBtn {
        padding-top: 20px;
    }
    .header .banner .bannerText .homeBtn a {
        padding: 15px 28px;
        background-image: linear-gradient(250deg, #4e95ed 0%, #03228f 100%);
        color: #fff;
        font-weight: 600;
        font-size: 17px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    .header .banner .banText {
        height: 100vh;
    }
    .header {
            height: 100vh;
    }
    /* Nav Offcan */
    .offcanvas-end {
        width: 230px;
    }
    /* client slider */
    .header .client .clientMain .sliderT .slidItem {
        width: 20% !important;
    }
    .header .client .clientMain .sliderT {
        width: 1000px;
        padding: 17px 20px 14px 17px;
    }
    .header .client .clientMain {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform:translateX(-50%) ;
        -webkit-transform:translateX(-50%) ;
        -moz-transform:translateX(-50%) ;
        -ms-transform:translateX(-50%) ;
        -o-transform:translateX(-50%) ;
    }
    .header .client .clientMain .sliderT .slidItem img {
        width: 90px;
    }
    /* About */
    .about {
        padding: 20px 0 80px 0;
    }
    .about .about_wrapper .about_right .headingOfSection {
        margin-bottom: 25px;
        margin-top: 40px;
    }
    .about .about_wrapper .about_right h4 {
        font-size: 18px;
        line-height: 29px;
    }
    .about .about_wrapper .about_right p {
        font-size: 14px;
        line-height: 26px;
        padding: 0px 0 30px 0;
    }
    .about .about_wrapper .about_right .about_btn a {
        padding: 13px 23px;
        background-image: linear-gradient(250deg, #4e95ed 0%, #03228f 100%);
        font-size: 15px;
        color: #fff;
        font-weight: 500;
        border-radius: 4px;
    }
    .about .about_wrapper .design_2 {
            display: none;
    }
    .Stack .headingOfSection {
        margin-bottom: 20px;
    }
    /* Stack */
    .Stack .sectionHeader h4 {
        font-size: 24px;
        padding: 3px 0;
    }
    
    .Stack .feature_wrapper {
        padding-top: 40px;
    }
    .Stack {
        padding: 0px 0 60px 0;
    }
    
    .Stack .stack_wrapper {
        margin-top: 60px;
    }
    .Stack .stack_wrapper .stack_wrap .item {
        padding-top: 50px;
    }
    /* client */
    
    
    .footer .footer_wrapper h3 {
        font-size: 22px;
        padding: 10px 0;
    }
    
    .footer .footer_wrapper p {
        font-size: 14px;
        padding-right: 0px;
        text-align: justify;
    }
    .footer .footer_wrapper h3 {
        font-size: 20px;
        padding: 3px 0;
    }
    .footer .footer_wrapper h4 {
        font-size: 13px;
        line-height: 20px;
    }
    /* contact */
    .contact .contact_wrapper .contect_info {
        padding: 51px 20px;
    }
    .contact {
        padding-bottom: 90px;
        margin-top: 10px;
    }
    /* Service  */
    .service {
        margin-top: 40px;
    }
    /* contact */
    .subPage_contact .contact_wrapper .contect_info {
        padding: 0px 10px;
    }
    .subPage_contact .contact_wrapper .contect_info h4 {
        font-size: 26px;
    }
    .subPage_contact .contact_wrapper .contect_info p {
        font-size: 15px;
        padding: 20px 0px;
    }
    .form_wrapper {
        padding-top: 45px;
    }
    .subPage_contact {
        padding-top: 20px;
    }
    .subPage_contact .contact_wrapper .contect_info p {
        font-size: 15px;
        padding: 0px 0px;
    }
    .subPage_contact .contact_wrapper .contect_info .icons_linker ul li {
        padding: 0 6px;
    }
    .subPage_contact .contact_wrapper .contect_info .icons_linker {
        padding-top: 60px;
    }
    /* ser4vice detail */
    .serviceDetail {
        padding: 105px 0 70px 0;
    }
}
@media (min-width: 1600px) and (max-width: 1699.98px){  
    /* mob Hedaer */
 
    
    /* header */

    .header .banner .bannerText h3 {
        font-size: 44px;
        line-height: 60px;
        padding: 10px 0;
    }
    .header .banner .bannerText p {
        font-size: 15px;
        line-height: 26px;
    }
   .header .banner .bannerText .homeBtn {
        padding-top: 30px;
    }
    .header .banner .bannerText .homeBtn a {
        padding: 15px 35px;
        background-image: linear-gradient(250deg, #4e95ed 0%, #03228f 100%);
        color: #fff;
        font-weight: 600;
        font-size: 19px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
 
    /* client slider */
    .header .client .clientMain .sliderT .slidItem {
        width: 20% !important;
    }
    .header .client .clientMain .sliderT {
        width: 1060px;
        padding: 17px 20px 14px 17px;
    }
    .header .client .clientMain {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform:translateX(-50%) ;
        -webkit-transform:translateX(-50%) ;
        -moz-transform:translateX(-50%) ;
        -ms-transform:translateX(-50%) ;
        -o-transform:translateX(-50%) ;
    }
    /* About */
    .about {
        padding: 80px 0 80px 0;
    }
    .about .about_wrapper .about_right h4 {
        font-size: 18px;
        line-height: 29px;
    }
    .about .about_wrapper .design_2 {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background: linear-gradient(to right, #b9e6e447 0%, #6290c5 100%);
        position: absolute;
        right: 2%;
        top: 20%;
    }
    .about .about_wrapper .about_right .about_btn a {
        padding: 15px 30px;
        background-image: linear-gradient(250deg, #4e95ed 0%, #03228f 100%);
        font-size: 18px;
        color: #fff;
        font-weight: 500;
        border-radius: 4px;
    }

    .Stack .headingOfSection {
        margin-bottom: 20px;
    }
    /* Stack */
    .Stack .sectionHeader h4 {
        font-size: 24px;
        padding: 3px 0;
    }
    
    .Stack .feature_wrapper {
        padding-top: 40px;
    }
    .Stack {
        padding: 35px 0 100px 0;
    }
    
    .Stack .stack_wrapper {
        margin-top: 60px;
    }
    .Stack .stack_wrapper .stack_wrap .item {
        padding-top: 98px;
    }
    /* client */
    
    
    .footer .footer_wrapper h3 {
        font-size: 22px;
        padding: 10px 0;
    }
    
    .footer .footer_wrapper p {
        font-size: 14px;
        padding-right: 0px;
        text-align: justify;
    }
    .footer .footer_wrapper h3 {
        font-size: 20px;
        padding: 3px 0;
    }
    .footer .footer_wrapper h4 {
        font-size: 13px;
        line-height: 20px;
    }
    /* contact */
    .contact .contact_wrapper .contect_info {
        padding: 51px 20px;
    }
    .contact {
        padding-bottom: 90px;
        margin-top: 10px;
    }
    /* Service  */
    .service {
        margin-top: 40px;
    }
    /* contact */

    .subPage_contact .contact_wrapper .contect_info h4 {
        font-size: 26px;
    }
    .subPage_contact .contact_wrapper .contect_info p {
        font-size: 15px;
        padding: 20px 0px;
    }
    .subPage_contact .contact_wrapper .contect_info p {
        font-size: 15px;
        padding: 0px 0px;
    }
    .subPage_contact .contact_wrapper .contect_info .icons_linker ul li {
        padding: 0 6px;
    }
    /* ser4vice detail */
    .serviceDetail {
        padding: 105px 0 70px 0;
    }
}
@media (min-width: 1700px) and (max-width: 1799.98px){  
    /* mob Hedaer */
 
    
    /* header */

    .header .banner .bannerText h3 {
        font-size: 44px;
        line-height: 60px;
        padding: 10px 0;
    }
    .header .banner .bannerText p {
        font-size: 15px;
        line-height: 26px;
    }
   .header .banner .bannerText .homeBtn {
        padding-top: 30px;
    }
    .header .banner .bannerText .homeBtn a {
        padding: 15px 35px;
        background-image: linear-gradient(250deg, #4e95ed 0%, #03228f 100%);
        color: #fff;
        font-weight: 600;
        font-size: 19px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
 
    /* client slider */
    .header .client .clientMain .sliderT .slidItem {
        width: 20% !important;
    }
    .header .client .clientMain .sliderT {
        width: 1060px;
        padding: 17px 20px 14px 17px;
    }
    .header .client .clientMain {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform:translateX(-50%) ;
        -webkit-transform:translateX(-50%) ;
        -moz-transform:translateX(-50%) ;
        -ms-transform:translateX(-50%) ;
        -o-transform:translateX(-50%) ;
    }
    /* About */
    .about {
        padding: 80px 0 80px 0;
    }
    .about .about_wrapper .about_right h4 {
        font-size: 18px;
        line-height: 29px;
    }
    .about .about_wrapper .design_2 {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background: linear-gradient(to right, #b9e6e447 0%, #6290c5 100%);
        position: absolute;
        right: 2%;
        top: 20%;
    }
    .about .about_wrapper .about_right .about_btn a {
        padding: 15px 30px;
        background-image: linear-gradient(250deg, #4e95ed 0%, #03228f 100%);
        font-size: 18px;
        color: #fff;
        font-weight: 500;
        border-radius: 4px;
    }

    .Stack .headingOfSection {
        margin-bottom: 20px;
    }
    /* Stack */
    .Stack .sectionHeader h4 {
        font-size: 24px;
        padding: 3px 0;
    }
    
    .Stack .feature_wrapper {
        padding-top: 40px;
    }
    .Stack {
        padding: 35px 0 100px 0;
    }
    
    .Stack .stack_wrapper {
        margin-top: 60px;
    }
    .Stack .stack_wrapper .stack_wrap .item {
        padding-top: 98px;
    }
    /* client */
    
    
    .footer .footer_wrapper h3 {
        font-size: 22px;
        padding: 10px 0;
    }
    
    .footer .footer_wrapper p {
        font-size: 14px;
        padding-right: 0px;
        text-align: justify;
    }
    .footer .footer_wrapper h3 {
        font-size: 20px;
        padding: 3px 0;
    }
    .footer .footer_wrapper h4 {
        font-size: 13px;
        line-height: 20px;
    }
    /* contact */
    .contact .contact_wrapper .contect_info {
        padding: 51px 20px;
    }
    .contact {
        padding-bottom: 90px;
        margin-top: 10px;
    }
    /* Service  */
    .service {
        margin-top: 40px;
    }
    /* contact */

    .subPage_contact .contact_wrapper .contect_info h4 {
        font-size: 26px;
    }
    .subPage_contact .contact_wrapper .contect_info p {
        font-size: 15px;
        padding: 20px 0px;
    }
    .subPage_contact .contact_wrapper .contect_info p {
        font-size: 15px;
        padding: 0px 0px;
    }
    .subPage_contact .contact_wrapper .contect_info .icons_linker ul li {
        padding: 0 6px;
    }
    /* ser4vice detail */
    .serviceDetail {
        padding: 105px 0 70px 0;
    }
}